<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xr.mapper.DeviceChannelMapper" >
  <resultMap id="BaseResultMap" type="com.xr.entry.DeviceChannel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DeviceNo" property="deviceno" jdbcType="INTEGER" />
    <result column="ChannelNo" property="channelno" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DeviceNo, ChannelNo
  </sql>
  
  <sql id="c_start">
		select res.*
		from (select @num := @num+1 tindex, tmp.* from
		(
	</sql>

	<sql id="c_end">
		) tmp , (SELECT @num := 0) var order by id desc) res where 1=1
		<if test="curpage != null and curpage != ''">
			and res.tindex &gt;= (CONVERT(#{curpage},SIGNED)-1) *
			CONVERT(#{pagesize},SIGNED)+1
			and res.tindex &lt;=
			CONVERT(#{curpage},SIGNED) *
			CONVERT(#{pagesize},SIGNED)
		</if>
	</sql>
	
	<insert id="add" parameterType="java.util.List">
	<foreach collection="list" item="item" separator=";" index="index">
	<if test="item.type!=null and item.type!='' and item.type=='aa'">
	   insert into devicechannel (DeviceNo, ChannelNo)
         values (#{item.deviceno}, #{item.channelno})
	</if>
	<if test="item.type!=null and item.type!='' and item.type=='uu'">
		  update devicechannel
	    set DeviceNo = #{item.deviceno},
	      ChannelNo = #{item.channelno}
	    where ID = #{item.id}
	</if>
	<if test="item.type!=null and item.type!='' and item.type=='dd'">
	    delete from devicechannel
        where ID = #{item.id}
	</if>
	</foreach>
	</insert>
  
 	<select id="getList" resultType="Map">
		<include refid="c_start"></include>
		select id,channelno,deviceno from DeviceChannel  
		<where>
			<if test="id != null and id!='' ">
				and  id=#{id}
			</if>
			<if test="channelno != null and channelno!='' ">
				and  channelno=#{channelno}
			</if>
			<if test="deviceno != null and deviceno!='' ">
				and  deviceno=#{deviceno} 
			</if>
		</where>
		<include refid="c_end"></include>
	</select>

	<select id="getListCount" resultType="Integer">
		select count(1) from DeviceChannel  
		<where>
			<if test="id != null and id!='' ">
				and  id =#{id}
			</if>
			<if test="channelno != null and channelno!='' ">
				and  channelno =#{channelno}
			</if>
			<if test="deviceno != null and deviceno!='' ">
				and  deviceno=#{deviceno} 
			</if>
		</where>
	</select>
	
	<select id="getChannelList" resultType="Map">
	     select c.channelno,c.channelname,c.type,c.locatname,t.channelno id from channeldata c 
		left join (select id,channelno,deviceno from devicechannel 
		where deviceno=#{deviceno}) t on t.channelno=c.channelno
     <where>
			<if test="type != null and type!='' ">
				and  c.type =#{type}
			</if>
	 </where>
	</select>
	
  <select id="getChannelListCount" resultType="Integer">
	     select count(1) from channeldata c 
		left join (select id,channelno,deviceno from devicechannel 
		where deviceno=#{deviceno}) t on t.channelno=c.channelno
     <where>
			<if test="type != null and type!='' ">
				and  c.type =#{type}
			</if>
	 </where>
	</select>
	
	
	<select id="getDevList" resultType="Map">
	<include refid="c_start"></include>
	     select d.deviceno,d.devicename,d.devicetype,d.devicevender,d.devicemodel,
	     d.devicesn,d.ip,d.port,d.doorname,t.deviceno id from DeviceUnit d 
		left join (select id,channelno,deviceno from devicechannel 
		<where>
		    <if test="channelno != null and channelno!='' ">
				and  channelno =#{channelno}
			</if>
			<if test="deviceno != null and deviceno!='' ">
				and  deviceno=#{deviceno} 
			</if>
		</where>
		) t on t.deviceno=d.deviceno
     <where>
			<if test="devicename != null and devicename!='' ">
				and  d.devicename  like concat('%',#{devicename},'%')
			</if>
			<if test="devicetype != null and devicetype!='' ">
				and  d.devicetype =#{devicetype}
			</if>
			<if test="devicevender != null and devicevender!='' ">
				and  d.devicevender =#{devicevender}
			</if>
	 </where>
	 <include refid="c_end"></include>
	</select>
	
	<select id="getDevListCount" resultType="Integer">
	     select count(1) from DeviceUnit d 
		left join (select id,channelno,deviceno from devicechannel
		<where>
		    <if test="channelno != null and channelno!='' ">
				and  channelno =#{channelno}
			</if>
			<if test="deviceno != null and deviceno!='' ">
				and  deviceno=#{deviceno} 
			</if>
		</where> 
		) t on t.deviceno=d.deviceno
     <where>
			<if test="devicename != null and devicename!='' ">
				and  d.devicename  like concat('%',#{devicename},'%')
			</if>
			<if test="devicetype != null and devicetype!='' ">
				and  d.devicetype =#{devicetype}
			</if>
			<if test="devicevender != null and devicevender!='' ">
				and  d.devicevender =#{devicevender}
			</if>
	 </where>
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from devicechannel
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from devicechannel
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xr.entry.DeviceChannel" >
    insert into devicechannel (ID, DeviceNo, ChannelNo
      )
    values (#{id,jdbcType=INTEGER}, #{deviceno,jdbcType=INTEGER}, #{channelno,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xr.entry.DeviceChannel" >
    insert into devicechannel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deviceno != null" >
        DeviceNo,
      </if>
      <if test="channelno != null" >
        ChannelNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceno != null" >
        #{deviceno,jdbcType=INTEGER},
      </if>
      <if test="channelno != null" >
        #{channelno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.entry.DeviceChannel" >
    update devicechannel
    <set >
      <if test="deviceno != null" >
        DeviceNo = #{deviceno,jdbcType=INTEGER},
      </if>
      <if test="channelno != null" >
        ChannelNo = #{channelno,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.entry.DeviceChannel" >
    update devicechannel
    set DeviceNo = #{deviceno,jdbcType=INTEGER},
      ChannelNo = #{channelno,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>