<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xr.mapper.TitleDataMapper" >
  <resultMap id="BaseResultMap" type="com.xr.entry.TitleData" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TitleName" property="titlename" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
	ID, TitleName, Remark
</sql>

	<sql id="c_start">
		select res.*
		from (select @num := @num+1 tindex, tmp.* from
		(
	</sql>

	<sql id="c_end">
		) tmp , (SELECT @num := 0) var order by id desc) res where 1=1
		<if test="curpage != null and curpage != ''">
			and res.tindex &gt;= (CONVERT(#{curpage},SIGNED)-1) *
			CONVERT(#{pagesize},SIGNED)+1
			and res.tindex &lt;=
			CONVERT(#{curpage},SIGNED) *
			CONVERT(#{pagesize},SIGNED)
		</if>
	</sql>



	<select id="getList" resultType="Map">
		<include refid="c_start"></include>
		select id,titlename,remark from TitleData
		<where>
			<if test="id != null and id!='' ">
				and id=#{id}
			</if>
			<if test="titlename != null and titlename!='' ">
				and titlename=#{titlename}
			</if>
			<if test="name != null and name!='' ">
				and titlename like concat('%',#{name},'%')
			</if>
		</where>
		<include refid="c_end"></include>
	</select>

	<select id="getListCount" resultType="Integer">
		select count(1) from TitleData
		<where>
			<if test="id != null and id!='' ">
				and id=#{id}
			</if>
			<if test="titlename != null and titlename!='' ">
				and titlename=#{titlename}
			</if>
			<if test="name != null and name!='' ">
				and titlename like concat('%',#{name},'%')
			</if>
		</where>
	</select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from titledata
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from titledata
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xr.entry.TitleData" >
    insert into titledata (ID, TitleName, Remark
      )
    values (#{id,jdbcType=INTEGER}, #{titlename,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xr.entry.TitleData" >
    insert into titledata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="titlename != null" >
        TitleName,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titlename != null" >
        #{titlename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.entry.TitleData" >
    update titledata
    <set >
      <if test="titlename != null" >
        TitleName = #{titlename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.entry.TitleData" >
    update titledata
    set TitleName = #{titlename,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>